/TestEncryptionSDKwithKMS/target/
/TestSMParameterStore/target/
/TestSpringBootWithRDSAndCodeBuildCodeDeploy/target/
/TestSQSPollingLambda/target/
/TestSTSWithCredentials/target/
/TestCognitoWithFederation/target/